<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>CSS Isometric Icon Hover Effects</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contactStyle.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>



      <ul>
         <li>
            <a href="https://www.facebook.com/profile.php?id=100004938395007">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook"></span>
              </a>
         </li>


         <li>
            <a href="https://www.linkedin.com/in/davit-gevorgyan-a518b01a2/">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin"></span>

            </a>
         </li>

         <li>
            <a href="https://www.instagram.com/gevorgyan___11/?hl=ru">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram"></span>

            </a>
         </li>
      </ul>

  </body>
</html>
