<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Work</title>
</head>
<body>


<form  enctype="multipart/form-data" method="post" action="/admin/work/add">
    <p align="center"><input type="file" name="f"></p>
    <p align="center"><input type="text" name="price" placeholder="price"></p>
    <p align="center"><input type="text" name="content" placeholder="content"></p>
       <p><input type="submit" value="Send"></p>
</form>

</body>
</html>